/* Provided By :- codingclaw.com */

/* font "Inter" , imported from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background: rgb(76, 64, 247);
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
  box-shadow: 7px 7px 20px rgb(58, 47, 220);
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(17, 24, 39);
}

form {
  margin-top: 1.5rem;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box label {
  color: rgb(17, 24, 39);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input-box input{
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 10px;
}

.input-box input::placeholder {
    color: rgb(156, 163, 175);
}

.margin-top{
    margin-top: 1.2rem;
}

.submit-btn{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(76, 64, 247);
    cursor: pointer;
}

.checkbox{
    display: inline-flex;
}
.checkbox input{
    accent-color: rgb(76, 64, 247);
    width: 15px;
    cursor: pointer;
}

.checkbox label{
    margin-left: 0.8rem;
}

.checkbox label, .login-text{
    font-size: 1rem;
    font-weight: 300;
}

.checkbox label a, .login-text a{
    font-weight: 500;
    color: rgb(76, 64, 247);
}

/* bottom left download button styles */
.download-btn{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: 2px solid #fff;
  font-weight: 500;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: transparent;
  text-align: center;
}

.download-btn:hover{
  background-color: #fff;
  color: rgb(76, 64, 247);
}

@media only screen and (max-width: 1076px) {
  body {
    flex-direction: column;
    position: unset;
  }

  .download-btn{
    position: unset;
    margin-top: 1rem;
  }
}